.Rooms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.BtnRoom {
    min-width: 6vh;
    height: 6vh;
    font-size: 2vh;
    margin: 2vh;
    padding: 0.5vh;
    border-radius: 5px;
    outline: 0;
    border: 0;
    background-color: transparent;
    color: #EEEEEE;
}
.BtnRoom h3 {
    color: #111;
}
.BtnRoom:hover {
    border: 2px solid #111;
    box-shadow: 0px 0px 26px 8px #444a55;
    background-color: #000428;
}

.AddRoomBtn {
    height: 20vh;
    width: 20vh;
    margin: 1em auto;
    padding: 0;
    font-size: 15vh;
    border-radius: 100%;
    background-color: #393E46;
    box-shadow: 0px 0px 4px 1px #EEEEEE;
    border: 0;
    transition: all 0.3s ease-in-out;
}
.AddRoomBtn:focus,
.AddRoomBtn:active,
.AddRoomBtn:hover {
    box-shadow: 0px 0px 10px 5px #EEEEEE;
    border: 0;
}

.RoomTypeText {
    position: relative;
    top: 2.5vh;
}
